#searchBar{
	border: 1px solid #000000; 
	font-size: 16px;
	padding: 10px;
	outline: none;
	width: 250px;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-top-left-radius: 10px;
	border-top-left-radius: 10px;
}

#searchBtn{
	border: 1px solid #000000; 
	font-size: 16px;
	padding: 10px;
	background: #87cefa;
	font-weight: bold;
	outline: none;
	width: 100px;
	-webkit-border-top-right-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-topright: 10px;
	-moz-border-radius-bottomright: 10px;
	border-top-right-radius: 10px;
	border-top-right-radius: 10px;
}
